<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form method="POST" action="/add">
    <input type="text" name="name" value="John"><br>
    <input type="text" name="surname" value="Doe"><br>
    <input type="text" name="phone" value="79991112233"><br>
    <input type="text" name="email" value="AAA@gmail.com"><br>
    <button type="submit" class="btn">Add new User</button>
</form>
</body>
</html>