<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form method="POST" action="/reservation/addReservation">
    <input type="text" name="userId" value="1"><br>
    <input type="text" name="placeId" value="1"><br>
    <input type="text" name="startData" value="2022-12-01 19:43:00"><br>
    <input type="text" name="startTime" value="2022-12-01 19:44:00"><br>
    <input type="text" name="endData" value="2022-12-01 19:43:00"><br>
    <input type="text" name="endTime" value="2022-12-01 19:44:00"><br>
    <button type="submit" class="btn">Add new Reservation</button>
</form>
</body>
</html>